:root{
  --main: #51443E;
  --secondary: #707070;
  --paragraph: #000000;
  --white: white;
}


@font-face {
  font-family: 'bahij';
  src: url('./plugin/fonts/Bahij/Bahij_TheSansArabic-ExtraBold.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'bahij';
  src: url('./plugin/fonts/Bahij/Bahij_TheSansArabic-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'bahij';
  src: url('./plugin/fonts/Bahij/Bahij_TheSansArabic-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'bahij';
  src: url('./plugin/fonts/Bahij/Bahij_TheSansArabic-Plain.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'diwani';
  src: url('./plugin/fonts/diwani/ArbFONTS-46-Diwani-Bent.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thuluth';
  src: url('./plugin/fonts/thuluth/arfonts-thuluth-alsmt7017.ttf');
  /* font-weight: normal;
  font-style: normal; */
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}


::-webkit-scrollbar-thumb {
  background: var(--main);

}



::-moz-selection {
  color: #fff;
  background: var(--main)
}

::selection {
  color: #fff;
  background: var(--main);
}

* {
  font-family: "bahij", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  scroll-behavior: smooth;
  text-transform: capitalize;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html[dir='rtl'] [type=email],
html[dir='rtl'] [type=number],
html[dir='rtl'] [type=tel],
html[dir='rtl'] [type=url] {
  direction: rtl;
}

body {
  direction: rtl;
  line-height: 1.7;
  background: url("../../images/BG.png");
  background-size: cover;
  background-attachment: fixed;
}

html[dir="ltr"] body {
  direction: ltr;
}

a {
  text-decoration: none;
  color: var(--main);
}
img{
  width: 100%;
  height: 100%;
}
.img{
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     overflow: hidden;
}
.link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0rem !important;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin-bottom: 0;
}

p {
  color: var(--paragraph);
}


.btn {
  padding: 0.5rem 3.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  margin: 1rem 0;
}

.main-btn {
  background-color: var(--main);
  color: var(--white);
  &:hover,
  &:focus {
    background-color: var(--main);
    color: var(--white);
  }
  &:active{
    background-color: var(--main);
    color: var(--white);
    transform: scale(.95);
  }
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--white);
  background-color: var(--main);
  border-color: var(--main);
}


section {
  margin: 2rem 0 5rem 0;
}















/* ===== nav ===== */

.nav-text-logo{
  font-family: 'diwani' , sans-serif;
  font-size: 1.5rem;
}




/*=== header === */
header#hero {
  background-size: cover;
  height: 100vh;
  text-transform: uppercase;
  position: relative;
  z-index: 1;

  .hero {
    height: calc(100vh - 70px);
  }

  h1 {
    z-index: 1;
  }
}


.title{
  font-family: 'thuluth' , sans-serif;
  margin: 1rem 0;
  font-weight: 500;
  font-size: 2.5rem;
}




/* ======== books ========= */

.books{
  .book {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: .8rem;
    position: relative;
    .title{
      font-size: 2rem;
    }
    .book-shape{
      position: absolute;
      top: -2rem;
      inset-inline-start: -1.5rem;
      width: 50%;
      height: 70%;
    }
    .img{
      aspect-ratio: 3 / 4;
      border-radius: 3rem;
      width: 90%;
      position: relative;
      z-index: 2;
    }
  }
}



/* ======== gallery ======= */

.gallery{
  .gallery-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;

    .img{
      max-height: 250px;
      border-radius: 2rem;
      img{
        -o-object-fit: cover;
           object-fit: cover;
           height: 100%;
      }
    }
    .img:nth-child(3){
      grid-row: span 2;
      grid-column: span 1;
      max-height: unset;
    }
    .img:nth-child(5){
      grid-row: span 1;
      grid-column: span 2;
    }
    .img:nth-child(6){
      grid-row: span 2;
      grid-column: span 1;
      max-height: unset;
    }
  }
}



/* ======== footer ====== */
footer{
  background: url("../images/footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  padding: 15rem 0 3rem 0;
}
.footer-logo{
  margin-bottom: 2rem;
}
footer :where(a, p , h3) {
  color: var(--white);
}

.footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
}






/* ========= media query ======= */
@media (max-width: 991px){
  .books 
    .book 
        .book-shape {
            top: -1rem;
            width: 45%;
            height: 75%;
        }

  .books .book .img {
      border-radius: 2rem;
      width: 95%;
  }
}

@media (max-width: 625px) {
  .books .book .book-shape {
    top: -1rem;
    width: 60%;
    height: 50%;
    inset-inline-start: -1rem;
}
.books 
   .book 
      .title {
          font-size: 1.3rem;
          text-align: center !important;
          width: 100%;
      }

  .books .book .img {
      border-radius: 2rem;
      width: 90%;
  }



  /* ===== footer ====== */
  footer{
    background: url("../images/footer.svg");
    background-size: contain;
    padding: 5rem 0 0rem 0;
    background-repeat: no-repeat;
  }
  .footer-bg{
    background: var(--secondary);
    padding: 1rem 0 2rem 0;
  }
  .footer-links{
    justify-content: flex-start;
    align-items: flex-start;
  }

}